<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="pageTitle">Physical Books List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <h1>List of Physical Books</h1>
    <a th:href="@{/physicalBooks/create}" class="btn btn-primary mb-3">Add New Physical Book</a>
    <!-- TODO: Ejercicio 7 -->
    <form th:action="@{/physicalBooks/filter}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search by keyword" aria-label="Search by keyword">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Book</th>
            <th>Condition</th>
            <th>Purchase Date</th>
            <th>Purchase Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- TODO: Ejercicio 5 -->
        <tr th:each="physicalBook : ${physicalBooks}">
            <td th:text="${physicalBook.id}"></td>
            <td th:text="${physicalBook.book.title}"></td>
            <td th:text="${physicalBook.state}"></td>
            <td th:text="${physicalBook.aqcuiredDate}"></td>
            <td th:text="${physicalBook.price}"></td>
            <td>
                <a th:href="@{/physicalBooks/edit/{id}(id=${physicalBook.id})}" class="btn btn-warning btn-sm">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
