body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #444;
}

header .back-link {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
    display: inline-block;
}

header .back-link:hover {
    color: #2980b9;
}


main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.house-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.house-list li {
    margin: 10px 0;
}

.house-link {
    display: inline-block;
    color: #3498db;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.house-link:hover {
    background-color: #3498db;
    color: #fff;
}
