<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Casa</title>
</head>
<body>
    <h1>Actualizar Casa</h1>
    <form action="#" th:action="@{/house/update}" th:object="${house}" method="post">
        <label for="name">Nombre de la casa:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>
        <br>
        <label for="founder">Fundador:</label>
        <input type="text" id="founder" name="founder" th:field="*{founder}" required>
        <br>
        <label for="mascot">Mascota:</label>
        <input type="text" id="mascot" name="mascot" th:field="*{mascot}" required>
        <br>
        <input type="hidden" name="id" th:value="${house.id}">
        <button type="submit">Actualizar Casa</button> <button type="reset">Limpiar</button>
</body>
</html>